.post
  -if post.title
    - unless local_assigns.has_key? :notitle
      .title= link_to post.title, post

  - if post.localfile.blank?
    .video-container
      = figure_video_type(post)
  - unless post.description.blank?
    .description= raw post.description
