.post
  - if post.title
    - unless local_assigns.has_key? :notitle
      .title= link_to post.title, post
    = link_to post.localfile.url, post.localfile.url, :class => :sm2_button
    :javascript
      $(document).ready(function() {
        soundManager.onready(function() {
          basicMP3Player = new BasicMP3Player();
        });
      });

  - if post.description
    .description= raw post.description
